 *{margin: 0;
 	padding: 0;
 	font-family: Century Gothic;
 }

 header{
 	background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../images/1.gif);
 	height: 160vh;
 	background-size: cover;
 	background-position: center;
 	overflow-y: auto;
	background-attachment:fixed;
 }
 
  ::selection{
background:pink;
color:black;
}
 ul{
 	float:  right;
 	list-style-type: none;
 	margin-top: 30px;
 }
 ul li{
 	display: inline-block;
 }

 ul li a{
 	text-decoration: none;
 	color: #fff;
 	padding: 5px 20px;
 	border: 1px solid transparent;
 	transition: 0.5s ease;
 	font-weight: bolder;
 	text-shadow: 0 0 35px yellow;
 }
 ul li a:hover{
 	background-color: pink;
 	color: #000;
 }
 ul li.active a{
 	background-color: pink;
 	color: #000;
 	text-shadow: none;
 }

 .logo img{
 	float: left;
 	width: 150px;
 	height:auto;
 }

 .main{
 	max-width: 1200px;
 	margin: auto;
 }

.title{
	position: absolute;
	top: 150px;
	left: 50px;
	right: 20px;
}

ul li input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: 1px solid green;
}

ul li .search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: 1px solid green;
  cursor: pointer;
}

ul li .search-container button:hover {
  background: pink;
  transition: .5s;
}

  .footer{
 	font-size: 20px;
 	font-weight: bold;
    	bottom: 0px;
   	 position: fixed;
   	 color: white;
 }
 h2 img{
    	filter: blur(1.5px);
 }
 h2 img:hover{
    	filter: blur(0px);
    	transition: 1s;
    	transform: scale(1.1);
}